POSTGRES_DB=lifesync
POSTGRES_USER=lifesync
POSTGRES_PASSWORD=lifesync
DB_HOST=localhost
DB_PORT=5432
DB_NAME=lifesync
DB_USERNAME=lifesync
DB_PASSWORD=lifesync
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
JWT_PRIVATE_KEY=<PEM-encoded RSA private key>
JWT_PUBLIC_KEY=<PEM-encoded RSA public key>
JWT_ACCESS_TOKEN_EXPIRY=900
JWT_REFRESH_TOKEN_EXPIRY=604800
