POSTGRES_DB=lifesync
POSTGRES_USER=lifesync
POSTGRES_PASSWORD=lifesync
DB_HOST=localhost
DB_PORT=5432
DB_NAME=lifesync
DB_USERNAME=lifesync
DB_PASSWORD=lifesync
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
